**/.classpath
**/.project
**/.settings
**/*.swp
**/target
**/eclipse-classes
**/*.class
**/dependency-reduced-pom.xml

*.classpath
*.project
*.settings
*.swp
*.class
target
eclipse-classes
dependency-reduced-pom.xml

